$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin breakpoint($class) {
  @if $class == sm {
    @media (max-width: $sm) {
      @content;
    }
  } @else if $class == md {
    @media (max-width: $md) {
      @content;
    }
  } @else if $class == lg {
    @media (max-width: $lg) {
      @content;
    }
  } @else if $class == xl {
    @media (max-width: $xl) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg, xl";
  }
}
