@import 'colors';
@import 'mixins';

body,
html {
  margin: 0px;
  min-height: 100vh;
  width: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
  line-height: 2em;
}

@keyframes wave {
  0% {
    transform: scale(-1, 1) rotate(0deg);
  }
  25% {
    transform: scale(-1, 1) rotate(45deg) translateX(1em) translateY(-1em);
  }
  50% {
    transform: scale(-1, 1) rotate(-8deg);
  }
  75% {
    transform: scale(-1, 1) rotate(45deg) translateX(1em) translateY(-1em);
  }
  100% {
    transform: scale(-1, 1) rotate(0deg);
  }
}

#hand {
  font-size: 1em;
  display: block;
  margin: 1em 0;
  width: 100px;
  height: 100px;
  transform: scale(-1, 1);
  animation-name: wave;
  animation-duration: 2s;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;

  #intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    padding: 48px;
    text-align: center;

    @include breakpoint(lg) {
      width: 75%;
    }

    @include breakpoint(sm) {
      width: 100%;
    }

    .hr {
      margin: 1em 0;
      height: 8px;
      width: 50px;
      background: $accent;
    }
  }
}

#developer,
#producer,
#designer {
  display: inline-block;
  font-weight: bold;
  border-bottom: 2px solid;
  line-height: 1.5em;

  svg {
    margin: 0 0.2em;
  }
}

#developer {
  border-bottom-color: $blue;
}

#producer {
  border-bottom-color: $yellow;
}

#designer {
  border-bottom-color: $red;
}

nav {
  margin-top: 1em;

  a {
    display: inline-block;
    padding: 4px;
    margin: 0.5em;
    font-size: 2em;

    svg {
      color: $black;
    }

    &:hover {
      svg {
        color: darken($accent, 30%);
      }
    }
  }

  div {
    display: inline-block;
  }

  .developer {
    a:hover {
      svg {
        color: $blue;
      }
    }
  }

  .producer {
    a:hover {
      svg {
        color: $yellow;
      }
    }
  }
}
