doctype html
html.no-js(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        title Andrew Wang
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name="google-site-verification", content="AHgNLNf_FqWM2ptipetlvV_cvglL-QvA6GYF7K8ncRo")

        link(rel='shortcut icon' href='favicon.ico')
        link(rel='apple-touch-icon' href='apple-touch-icon.png')

        //- link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1' crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i' rel='stylesheet')
        link(rel='stylesheet' href='css/style.css')

        script(src="https://pro.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-GBwm0s/0wYcqnK/JmrCoRqWYIWzFiGEucsfFqkB76Ouii5+d4R31vWHPQtfhv55b" crossorigin="anonymous")

    body
        #container
            #intro
                i#hand.fal.fa-hand-paper
                h1 Hi! I'm Andrew
                .hr
                p I'm a full stack #[span#developer #[i.fal.fa-code] developer] who loves building mobile and web apps. 
                    | I'm a pop music #[span#producer #[i.fal.fa-headphones-alt] producer] who makes remixes and writes original songs. 
                    | I'm a graphic #[span#designer #[i.fal.fa-pencil-ruler] designer] who creates logos and designs user interfaces.

                nav
                    a(href='https://www.linkedin.com/in/andrewxwang/')
                        i.fab.fa-linkedin-in

                    .developer
                        a(href='https://github.com/w4v3s')
                            i.fab.fa-github
                        a(href='https://gitlab.com/andrewxiaoyu')
                            i.fab.fa-gitlab
                        a(href='https://medium.com/@andrewxiaoyu0')
                            i.fab.fa-medium-m

                    .producer
                        a(href='https://soundcloud.com/allden')
                            i.fab.fa-soundcloud
                        a(href='https://open.spotify.com/artist/4jEEhqNoQHFlZVfJS6YhIU')
                            i.fab.fa-spotify

        script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-119834130-1','auto');ga('send','pageview')
        script(src='https://www.google-analytics.com/analytics.js' async defer)